.movie-box {
    margin-bottom: 40px;
    margin-left: 40px;
    text-align: center;
    border-radius: 4px;
    padding: 20px 0;
    box-shadow: 0 1px 16px 0 rgba(0, 0, 0, .2), 0 2px 8px 0 rgba(0, 0, 0, .14), 0 4px 8px -1px rgba(0, 0, 0, .12);
    height: 420px;
    width: 400px;
    float: left;
}
  

.movie-box .movie-title {
    font-size: 20em;
    font-size: 1.5vw;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(110, 86, 136);
    
}
   /* styles for '...' */ 
.movie-overview {
max-width: 460px;
font-size:18px;
font-family: 'Times New Roman', Times, serif;
color: rgb(88, 82, 72);
/* Over flow hidden hides the text if it is more than N lines  */
overflow: hidden;
/* To set '...' in absolute position */
position: relative; 
/* Use this value to count block height */
line-height: 1.2em;
/* Max-height = line-height (1.2) * lines max number (2) */
max-height: 3.4em; 
/* If the last visible word doesn't adjoin right side then this will fix the problem */
text-align: justify !important;  
/* place for '...' */
padding-right: 40px;
padding-left: 1em;
}

/* create the ... */
.movie-overview:before {
/* points in the end */
content: '...';
/* absolute position */
position: absolute;
/* set position to right bottom corner of block */
right:24px;
bottom: -4px;
}

/* hide ... if we have text, which is less than or equal to max lines */
.movie-overview:after {
/* points in the end */
content: '';
/* absolute position */
position: absolute;
/* set position to right bottom corner of text */
right: 20px;
/* set width and height */
width: 1em;
height: 1em;
margin-top: 0.2em;
/* bg color = bg color under block */
background: white;
}